@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  --blue: #7184a7;
  --orange: #f2a54a;
  --white: #ffffff;
  --black: #000000;
  --red: #af9999;
  --font: Roboto, sans-serif;
}

ul {
  list-style: none;
}

body {
  background-image: url("/img/power.jpg");
  background-position: center;
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

body > header h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--red);
}

body > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body > ul li {
  max-width: 380px;
}

body > ul article {
  background-color: var(--white);
  margin: 1rem;
}

article#black {
  max-width: 400px;
}

body > ul article header {
  text-align: center;
  padding: 1rem;
}

body > ul article header figure {
  margin-bottom: 1rem;
}

body > ul article header figure img {
  border-radius: 50%;
  height: 20rem;
  object-fit: cover;
  display: block;
  width: 100%;
  object-position: top;
}

body > ul article header h2 {
  color: var(--black);
}

body > ul article > p {
  padding: 1rem;
  background-color: var(--blue);
  font-weight: 300;
}

body > ul article header nav ul {
  display: flex;
  justify-content: center;
}

body > ul article header nav ul li a {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  font-size: 0;
}

body > ul article header nav ul li a.facebook {
  background-image: url("/img/face.svg");
}

body > ul article header nav ul li a.instagram {
  background-image: url("/img/inssta.svg");
}

body > ul article header nav ul li a.wiki {
  background-image: url("/img/wikip.svg");
}

@media (min-width: 700px) {
  body > header h1 {
    font-size: 5rem;
  }
}
