@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Roboto+Mono:wght@300;500&display=swap");

html {
  --green: rgb(49, 63, 51);
  --grey: rgb(100, 100, 100);
  --white: rgb(250, 250, 250);
  --black: rgb(20, 20, 20);
  --tittle-font: Raleway, sans-serif;
  --body-font: Roboto Mono, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background: var(--green);
  text-align: center;
  padding: 1rem 0;
  color: var(--white);
}

header h1 {
  font-family: var(--tittle-font);
  text-decoration: underline;
  font-size: 2.5rem;
}

header p {
  margin-bottom: 1rem;
}

header nav a {
  background-color: var(--white);
  color: var(--green);
  text-decoration: none;
  display: inline-block;
  padding: 0.25rem 2 rem;
  font-size: 0.75rem;
  border: solid var(--black) 2px;
}

header nav a strong {
  display: block;
  font-size: 1.25rem;
}

body {
  font-family: var(--body-font);
  font-weight: 300;
  color: var(--green);
  background-image: url("/img/perro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
main {
  max-width: 900px;
  position: relative;
  margin: 0 auto;
  background-color: var(--white);
}
img {
  max-width: 100%;
  border: solid var(--black) 2px;
}

section#content {
  padding: 1rem;
}

section#content aside {
  padding: 1rem 0;
  background-color: var(--grey);
  text-align: center;
  color: var(--black);
  border: solid var(--white) 1px;
}

section#content p.highlight {
  text-align: center;
  font-weight: 700;
  color: var(--grey);
  margin: 2rem;
  font-size: 1.2rem;
}

section#content p:not(.highlight) img {
  margin-bottom: 1rem;
}

footer {
  background: var(--grey);
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  color: var(--black);
}

footer p {
  text-decoration: underline;
}

@media (min-width: 500px) {
  section#content > p:not(.highlight) {
    columns: 2;
  }
}

@media (min-width: 700px) {
  html {
    font-size: 18px;
  }
  section#content aside {
    position: absolute;
    right: 0;
    top: 4rem;
    font-size: 0.5rem;
    width: 5rem;
    padding: 1rem;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
