<template>
  <div class="about">
    <h1>About Hack a Music</h1>
    <p>Hack a Music is a music website founded in Coruña City in 2020. Using a music recommender system called "Audioscrobbler", Hack a Music builds a detailed profile of each user's musical taste by recording details of the tracks the user listens to, either from Internet radio stations, or the user's computer or many portable music devices. This information is transferred ("scrobbled") to Hack a Music's database either via the music player itself.</p>
    <h2>Items used in Hack a Music:</h2>
    <ul>
      <li>Lastfm API</li>
      <li>Axios Library</li>
      <li>Sweetalert2</li>
      <li>Vue-headful</li>
    </ul>
  </div>
</template>
