<template>
  <div class="home">
    <vue-headful title="Hack a Music | Home" />
    <h1>TOP TAGS</h1>
    <button @click="sweetalertOn()">Tag of the month</button>
    <toptags :toptags="toptags" />

    <footercustom :footercustom="footercustom" />
  </div>
</template>

<script>
import api from "@/api/index.js";
import toptags from "@/components/TopTagsTable.vue";
import footercustom from "@/components/FooterCustom.vue";
import Swal from "sweetalert2";

export default {
  name: "Home",
  components: {
    toptags,
    footercustom
  },
  data() {
    return {
      toptags: []
    };
  },
  methods: {
    sweetalertOn() {
      Swal.fire({
        title: "July 2020",
        text: "Top tag: #Country"
      });
    }
  },

  created() {
    api.getTopTags().then(response => (this.toptags = response.data.tags.tag));
  }
};
</script>

<style scoped>
</style>
