<template>
  <div class="topartists">
    <vue-headful title="Hack a Music | Top Artists" />
    <h1>TOP ARTISTS</h1>

    <topartiststable :artists="artists" />

    <footercustom :footercustom="footercustom" />
  </div>
</template>

<script>
import api from "@/api/index.js";
import topartiststable from "@/components/TopArtistsTable.vue";
import footercustom from "@/components/FooterCustom.vue";

export default {
  name: "TopArtists",
  components: {
    topartiststable,
    footercustom
  },
  data() {
    return {
      artists: []
    };
  },

  created() {
    api
      .getArtists()
      .then(response => (this.artists = response.data.topartists.artist));
  }
};
</script>