<template>
  <div class="toptracks">
    <vue-headful title="Hack a Music | Top Tracks" />
    <h1>TOP TRACKS</h1>
    <toptrackstable :tracks="tracks" />
    <footercustom :footercustom="footercustom" />
  </div>
</template>

<script>
import api from "@/api/index.js";
import toptrackstable from "@/components/TopTracksTable.vue";
import footercustom from "@/components/FooterCustom.vue";

export default {
  name: "TopTracks",
  components: {
    toptrackstable,
    footercustom
  },
  data() {
    return {
      tracks: []
    };
  },

  created() {
    api
      .getTopTracks()
      .then(response => (this.tracks = response.data.tracks.track));
  }
};
</script>
