@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  padding: 0.5rem;
}

html {
  --white: #ffffff;
  --black: #000000;
  --pink: #c37081;
  --font: "Roboto", sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
}

.action {
  background-color: var(--pink);
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
}

/*header*/
body > header {
  margin: 1rem 0;
  text-align: center;
}

body > header img {
  max-width: 10rem;
}

body > header h1 {
  margin: 1rem 0.5rem 0;
  padding: 1rem;
}

body > header a {
  color: var(--pink);
  font-weight: 300;
  text-decoration: none;
}

/*sections*/
body > section {
  margin: 1rem;
}

body > section p,
body > section figure {
  margin-bottom: 1rem;
}

body > section figure img {
  width: 100%;
}

body > section#experience h2 {
  margin-bottom: 1rem;
}

body > section#experience ul {
  margin-bottom: 2rem;
}

/*footer*/
body > footer {
  background-color: var(--black);
  order: -1;
}

body > footer ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

body > footer ul li a {
  color: var(--white);
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

@media (min-width: 700px) {
  body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body > footer {
    width: 100%;
  }

  body > header h1 {
    font-size: 4rem;
    margin-top: 0;
    line-height: 4rem;
  }
  body > section {
    width: calc(50% - 2rem);
  }

  body > header {
    width: 100%;
  }

  body#intro > header {
    width: 30%;
  }

  body#intro > section {
    width: calc(70% - 4rem);
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }

  body > header img {
    max-width: 20rem;
  }

  body > header,
  body > section {
    width: calc(10%-rem);
    margin: 1rem;
  }
}
