<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{name:'Home'}">Home</router-link>|
      <router-link :to="{name:'About'}">About</router-link>|
      <router-link :to="{name:'TopTracks'}">Top tracks</router-link>|
      <router-link :to="{name:'TopArtists'}">Top artists</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "MenuCustom"
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nav {
  padding: 30px;
  color: salmon;
}

#nav a {
  font-weight: bold;
  color: salmon;
  text-decoration: none;
  padding: 0.5rem;
}
</style>