<template>
  <div>
    <input type="search" v-model="search" placeholder="Search by artist name" />
    <ul v-for="artist in filtered" :key="artist.id">
      <li>
        <p>
          <img id="artistImage" :src="artist.image[2]['#text']" />
        </p>
        <p>
          <STRONG>Artist: {{artist.name}}</STRONG>
        </p>
      </li>
      <li>
        <p>Total listeners: {{artist.listeners}}</p>
      </li>
      <li>
        <a :href="artist.url" target="_blank">
          <button>Artist URL</button>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TopArtistsTable",
  props: {
    artists: Array
  },
  data() {
    return {
      search: ""
    };
  },
  computed: {
    filtered() {
      if (!this.search) {
        return this.artists;
      }
      return this.artists.filter(artist =>
        artist.name.toLowerCase().includes(this.search.toLowerCase())
      );
    }
  }
};
</script>

<style scoped>
</style>