<template>
  <div>
    <ul v-for="track in tracks" :key="track.id">
      <li>
        <p>
          <STRONG>Track: {{track.name}}</STRONG>
        </p>
      </li>
      <li>
        <p>Artist: {{track.artist.name}}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TopTracksTable",
  props: {
    tracks: Array
  }
};
</script>

<style>
</style>