<template>
  <div>
    <ul v-for="tag in toptags" :key="tag.id">
      <li>
        <p>
          <STRONG>Tag: #{{tag.name}}</STRONG>
        </p>

        <p>Total of taggings: {{tag.taggings}}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TopTagsTable",
  props: {
    toptags: Array
  }
};
</script>

<style>
</style>