<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{name:'Home'}">Home</router-link>
      <router-link :to="{name:'About'}">About</router-link>
      <router-link :to="{name:'Products'}">Products</router-link>
      <router-link :to="{name:'Clients'}">Clients</router-link>
      <router-link :to="{name:'Register'}">Register</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "CustomMenu"
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}

#nav {
  padding: 1rem;
}

#nav a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 1rem;
}
</style>