<template>
  <div>
    <footer>Hack A Market 2020</footer>
  </div>
</template>

<script>
export default {
  name: "CustomFooter"
};
</script>

<style scoped>
footer {
  font-weight: bold;
  margin-top: 8rem;
  text-align: center;
}
</style>