<template>
  <div>
    <h1>OUR CLIENTS</h1>
    <ul>
      <li v-for="(client, index) in clients" :key="client.id">
        <img :src="client.foto" />
        <p>
          <strong>Name:</strong>
          {{client.nombre}}
        </p>
        <p>
          <strong>Username:</strong>
          {{client.usuario}}
        </p>
        <p>
          <strong>Email:</strong>
          {{client.email}}
        </p>
        <p>
          <strong>Password:</strong>
          {{client.password}}
        </p>
        <button @click="sendClientData(index)">Edit</button>
        <button @click="sendDeleteIndex(index)">Delete</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "GetClients",
  props: {
    clients: Array
  },
  methods: {
    sendClientData(index) {
      let clientData = this.clients[index];
      this.$emit("data", clientData);
    },
    sendDeleteIndex(index) {
      let clientIndex = this.clients[index].id;
      this.$emit("delete", clientIndex);
    }
  },
  data() {
    return {
      nombre: "",
      email: "",
      usuario: "",
      password: "",
      foto: ""
    };
  }
};
</script>

<style scoped>
button {
  margin: 0.5rem;
  border-radius: 50%;
  width: 60px;
  border: none;
  padding: 0.8rem;
  background: pink;
}

h1 {
  margin: 2rem;
}

ul li {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
}

ul li p {
  font-size: large;
}

img {
  width: 600px;
}
</style>