<template>
  <div>
    <h1>OUR PRODUCTS</h1>
    <ul>
      <li v-for="product in products" :key="product.id">
        <img :src="product.imagen" />
        <p>
          <strong>Name:</strong>
          {{product.nombre}}
        </p>
        <p>
          <strong>Stock:</strong>
          {{product.stock}}
        </p>
        <p
          :class="{brown: product.disponibilidad==='Not available', green: product.disponibilidad==='Available'}"
        >{{product.disponibilidad}}</p>
        <button :class="{ hide : product.stock===0}" @click="sweetalertBuy()">Buy</button>
        <button :class="{ hide : product.stock===0}" @click="sweetalertBook()">Book</button>
      </li>
    </ul>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "GetProducts",
  props: {
    products: Array
  },
  methods: {
    sweetalertBuy() {
      Swal.fire({
        title: ":-)",
        text: "You've just bought this product",
        confirmButtonText: "OK"
      });
    },
    // editStock() {
    //   if (product.stock === 0) {
    //     disponibilidad = "Not available";
    //   } else {
    //     disponibilidad = "Available";
    //   }
    // },
    sweetalertBook() {
      Swal.fire({
        title: ":-)",
        text: "You've just booked this product"
      });
    }
  }
};
</script>

<style scoped>
img {
  width: 600px;
}
ul li {
  padding: 1rem;
}

ul li p {
  font-size: large;
}

button {
  margin: 0.5rem;
  border-radius: 50%;
  width: 60px;
  border: none;
  padding: 0.8rem;
  background: pink;
}
.hide {
  visibility: hidden;
}
.brown {
  color: brown;
}

.green {
  color: darkolivegreen;
}
</style>