<template>
  <div id="app">
    <menucustom />
  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";

export default {
  components: {
    menucustom
  }
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: black;
  padding-bottom: 2rem;
  font-size: 2.5;
}

h2 {
  margin-top: 1rem;
}
ul {
  list-style: none;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul li {
  text-align: center;
  justify-content: center;
  padding: 2rem;
  border: 1rem;
  background-color: lightsalmon;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  border-radius: 5%;
}
img {
  border-radius: 50%;
}

ul li p {
  padding: 0.4rem;
}

button {
  background: papayawhip;
  padding: 1rem;
  border-radius: 5%;
}
</style>
