@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  --yellow: #e9d477;
  --grey: #ac9f90;
  --white: #ffffff;
  --black: #111111;
  --font: Roboto, sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}

.title-reverse {
  color: var(--black);
  font-size: 2rem;
  font-weight: 700;
}

.button {
  background-color: var(--black);
  color: var(--white);
  padding: 0.25rem 1.25rem;
  text-decoration: none;
  border: 0;
}

/*header*/

body > header {
  font-family: var(--font);
  background-image: url("/img/cow.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

body > header h1 {
  flex-grow: 1;
  color: var(--black);
  margin: 1rem;
}

body > header nav a {
  list-style-type: none;
  text-decoration: none;
  color: var(--black);
  margin: 0 0.5rem;
}

/*body*/

body > main {
  padding: 2rem 0.5rem;
  background-color: var(--yellow);
  font-family: var(--font);
}

body > main section {
  margin: 0.5rem;
}

body > main section h2 {
  margin: 0.5rem;
}

/*vaques*/

body > main section#cows ul {
  list-style: none;
}

body > main section#cows ul li {
  margin-bottom: 1rem;
}

body > main section#cows ul li article figure img {
  height: 20rem;
  object-fit: cover;
  display: block;
  width: 100%;
}

body > main section#cows ul li article {
  background-color: var(--black);
  color: var(--white);
  margin-top: 1rem;
}

body > main section#cows ul li article h2 {
  margin: 1rem;
}

body > main section#cows ul li article p {
  margin: 1rem;
}

body > main section#cows ul li article a {
  color: var(--black);
  background: var(--grey);
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
}

/*form*/

body > main section#form {
  background: var(--white);
  margin: 5rem 0 2rem 0;
  padding: 0.5rem;
}

body > main section#form form fieldset {
  border: 0;
  margin: 0.8rem;
}

body > main section#form form fieldset label {
  display: block;
  font-size: 0.8rem;
}

body > main section#form form fieldset input,
body > main section#form form textarea,
body > main section#form form select {
  background-color: var(--yellow);
  border: 1px solid var(--black);
  width: 100%;
  padding: 0.2rem;
}

body > main section#form form textarea {
  min-height: 5rem;
}

body > main section#form form fieldset.newsletter label {
  display: inline;
}

body > main section#form form fieldset.newsletter input {
  width: auto;
}

section#form button {
  margin: 0 1rem;
}

@media (min-width: 700px) {
  html {
    font-size: 18px;
  }

  .title {
    font-size: 2rem;
  }

  body > header {
    min-height: 25rem;
    flex-direction: row;
    align-items: baseline;
  }
  body > header h1 {
    font-size: 2.5;
  }

  body > header nav {
    flex-grow: 0;
    order: -1;
  }

  body > main section#intro p {
    columns: 2;
  }

  body > main section#cows ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  body > main section#cows ul li {
    max-width: 400px;
  }

  body > main section#cows ul li article {
    margin: 1rem;
  }

  body > main section#form form {
    display: flex;
    flex-wrap: wrap;
  }

  body > main section#form form fieldset {
    width: 50%;
    padding: 0.5rem;
  }

  body > main section#form form input,
  body > main section#form form textarea,
  body > main section#form form select {
    padding: 0.5rem;
  }

  body > main section#form fieldset.province {
    width: 50%;
  }

  section#form fieldset.wide {
    width: 100%;
  }

  body > main section#form button {
    padding: 0.25rem 1.25rem;
  }
}
