html {
  align-items: center;
  background-color: lavenderblush;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

#newtask {
  margin: 0.5rem;
}

button {
  border: none;
  color: white;
  background-color: indianred;
  margin: 1rem;
}

ul {
  list-style: none;
}

.newtask-container {
  display: flex;
  justify-content: center;
}

.incompletecontainer {
  padding: 2rem;
  margin-bottom: 5rem;
}

.completedcontainer {
  padding: 2rem;
}
