<template>
  <div id="app">
    <custommenu />
  </div>
</template>


// document.cookie = "same-site-cookie=foo; SameSite=Lax";
// document.cookie = "cross-site-cookie=bar; SameSite=None; Secure";
// </script>

<script>
import custommenu from "@/components/CustomMenu.vue";

export default {
  components: {
    custommenu
  }
};
</script>
<style>
ul {
  list-style: none;
}
</style>
