@font-face {
  font-family: "digital-7";
  src: url("/fonts/digital-7.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html {
  --color: #b1127c;
}

body {
  background-color: rgb(255, 255, 255);
  color: var(--color);
  font-family: digital-7, sans-serif;
  min-height: 100vh;

  display: grid;
  place-content: center;
}

header {
  text-align: center;
  padding: 1rem 2rem;
}

header h1 {
  font-size: 5rem;
  font-weight: normal;
}

header h2 {
  margin-top: 2rem;
  font-weight: normal;
}

@media (min-width: 700px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 45px;
  }
}
