<template>
  <div class="about">
    <vue-headful title="About" />
    <h1>ABOUT US</h1>
    <img src="../assets/carmenmiranda.gif" alt="Carmen Miranda" />
    <h2>Items used in Hack a Market:</h2>
    <ul>
      <li>Unsplash</li>
      <li>Axios Library</li>
      <li>Sweetalert2</li>
      <li>Vue-headful</li>
    </ul>
  </div>
</template>

<style scoped>
p {
  text-align: justify;
  text-align: center;
}
img {
  margin: 4rem;
}
</style>
