<template>
  <div class="clients">
    <vue-headful title="Clients" />
    <getclients v-on:data="showClientInfo" v-on:delete="deletingClient" :clients="clients" />
    <div v-show="seeModal" class="modal">
      <div class="modalBox">
        <h3>Edit client data:</h3>
        <p>Client ID: {{clientID}}</p>
        <input type="text" placeholder="Client name" v-model="updateName" />
        <br />
        <input type="text" placeholder="Client username" v-model="updateUsername" />
        <br />
        <input type="text" placeholder="Client email" v-model="updateEmail" />
        <br />
        <input type="text" placeholder="Client password" v-model="updatePassword" />
        <br />
        <input type="text" placeholder="Client image" v-model="updateImage" />
        <br />
        <button @click="seeModal =! seeModal">Cancel</button>
        <button @click="updatingClient()">Edit</button>
      </div>
    </div>
    <customfooter />
  </div>
</template>

<script>
import axios from "axios";
import customfooter from "@/components/CustomFooter.vue";
import getclients from "@/components/GetClients.vue";

export default {
  name: "Clients",
  components: {
    getclients,
    customfooter
  },
  data() {
    return {
      clients: [],
      clientID: "",
      updateName: "",
      updateEmail: "",
      updatePassword: "",
      updateUsername: "",
      updateImage: "",
      seeModal: false
    };
  },
  methods: {
    showClientInfo(clientData) {
      this.updateName = clientData.nombre;
      this.updateEmail = clientData.email;
      this.updatePassword = clientData.password;
      this.updateUsername = clientData.usuario;
      this.updateImage = clientData.foto;

      this.clientID = clientData.id;
      this.seeModal = true;
    },
    deletingClient(clientIndex) {
      let self = this;
      axios
        .delete("http://localhost:3800/clients/delete/" + clientIndex)
        .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
      setTimeout(function() {
        location.reload();
      }, 3000);
    },
    getClients() {
      let self = this;
      axios
        .get("http://localhost:3800/clients")
        .then(function(response) {
          self.clients = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    updatingClient() {
      let self = this;
      axios
        .put("http://localhost:3800/clients/update-client/" + self.clientID, {
          nombre: self.updateName,
          email: self.updateEmail,
          password: self.updatePassword,
          usuario: self.updateUsername,
          foto: self.updateImage
        })
        .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
      location.reload();
    }
  },
  created() {
    this.getClients();
  }
};
</script>



<style scoped>
button {
  margin: 0.5rem;
  border-radius: 50%;
  width: 60px;
  border: none;
  padding: 0.8rem;
  background: pink;
}

.modal input {
  margin: 0.5rem;
  padding: 0.6rem;
}

.modal {
  margin-top: 5rem;
  align-items: center;
}
</style>