<template>
  <div>
    <vue-headful title="Error :-(" />
    <h1>There is nothing to show here</h1>
    <img src="../assets/sailor.gif" alt="Sailor Moon crying" />
  </div>
</template>

<script>
export default {
  name: "Error"
};
</script>

<style scoped>
</style>