<template>
  <div class="home">
    <vue-headful title="Home" />
    <h1>HACK A MARKET</h1>
    <img src="../assets/fruitmarket.jpg" alt="Fruit market" width="1000px" />
    <h2>A wide selection of freshly-picked exotic fruit</h2>
    <p>
      As meat consumption reduces and the availability of plant-based foods rises at a staggering rate, the diet choices made by the public is rapidly changing (recent statistics show that the amount of vegetarians and vegans in the UK is at an all-time high). Our diverse population is creating a new demand for healthy and alternative produce.
      In our Online Shop you will find a wide selection of exotic fruit, freshly picked and transported to us from around the globe within days. Ultimately arriving in perfect condition at your UK address. Purchasing is simple.
      The exotic fruits are available individually, in small multipacks, selection boxes or gift baskets. If it suits you better, you can order by phone or email. We work closely with our suppliers, building an extensive knowledge of these rare and hard-to-obtain fruits. We are always looking to discover new and exciting fruits and are regularly updating our range, working hard to source organically. We have a wide range of customers buying our fruits for many reasons, the health benefits and culinary uses being the main motivation.
      While most of our fruits are suitable to be eaten neat out of your hand, the flavour and enjoyment of some can be improved if they are prepared in a certain way or mixed with other complementary flavours.
    </p>
    <p>
      Some of our dried fruits can simply be steeped in hot water to create delicious medicinal teas or mixed into the dough of baking creations. The frozen pulps of our fruits are perfect to be mixed with milk or water. Our delicious fruits are used by some of the world’s top chefs to create gourmet recipes.
      Our commitment: quality and taste. We are aware we cannot demonstrate this until you taste our products. But we can describe how our system ensures the quality of our fruit.
      A customer places an order conveniently at home. Then the fruit is picked the same day of the delivery at the optimum point of ripening. No warehouse, no cold storage, and no intermediaries: From the tree to your table guaranteed!
    </p>
    <p>
      Once it leaves our farm, the box will arrive to any corner of Europe in 3 days tops. Most of our fruits should be consumed 7-10 days after picked from the tree. This means it can be left ripening a few days at home after delivery, so you can enjoy it at its best.
      Tropical fruit is characterized by its tough, resistant skin. Thanks to that, it can be safely transported overland to any destination without any loss of quality, provided it is adequately packaged.
      Both packaging and frucosecha-mangoit protectors from Exotic Fruit Box have been tested by experts, and they protect the product during transportation so you get it at the best state of consumption and ripening.
      The taste is 100% natural, because our fruit does not ripe in cold storage nor it is picked before it is supposed to. This system allows us to ensure the quality and taste of what is considered the best tropical fruit in Europe without doubt!
    </p>
    <customfooter />
  </div>
</template>

<script>
import customfooter from "@/components/CustomFooter.vue";

export default {
  name: "Home",
  components: {
    customfooter
  }
};
</script>

<style scoped>
img {
  float: left;
  margin: 2rem;
}

p {
  text-align: justify;
  margin: 1rem;
}
</style>
