<template>
  <div class="products">
    <vue-headful title="Products" />
    <getproducts :products="products" />
    <customfooter />
  </div>
</template>

<script>
import axios from "axios";
import getproducts from "@/components/GetProducts.vue";
import customfooter from "@/components/CustomFooter.vue";

export default {
  name: "Products",
  components: {
    getproducts,
    customfooter
  },
  data() {
    return {
      products: []
    };
  },
  methods: {
    getProducts() {
      let self = this;
      axios
        .get("http://localhost:3800/products")
        .then(function(response) {
          self.products = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },

  created() {
    this.getProducts();
  }
};
</script>

<style scoped>
button {
  margin: 0.5rem;
  border-radius: 50%;
  width: 60px;
  border: none;
  padding: 0.8rem;
  background: pink;
}
</style>