<template>
  <div>
    <vue-headful title="Register" />
    <h1>REGISTER</h1>
    <p v-show="errorMsg">* You have empty fields</p>
    <input type="text" v-model="nombre" placeholder="Name" />
    <br />
    <input type="text" v-model="usuario" placeholder="Username" />
    <br />
    <input type="text" v-model="email" placeholder="Email" />
    <br />
    <input type="text" v-model="password" placeholder="Password" />
    <br />
    <input type="text" v-model="foto" placeholder="Image" />
    <br />
    <button @click="validateData()">OK</button>
    <customfooter />
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import customfooter from "@/components/CustomFooter.vue";

export default {
  name: "Register",
  components: {
    customfooter
  },
  data() {
    return {
      nombre: "",
      usuario: "",
      email: "",
      password: "",
      foto: "",
      createClient: false,
      errorMsg: false
    };
  },
  methods: {
    sweetalertCreate() {
      Swal.fire({
        title: ":-)",
        text: "Welcome to Hack A Market",
        confirmButtonText: "OK"
      });
    },
    sweetalertEmptyField() {
      Swal.fire({
        title: ":-(",
        text: "Missing data",
        confirmButtonText: "OK"
      });
    },
    //no empty field
    validateData() {
      if (
        this.nombre === "" ||
        (this.email === "") | (this.password === "") | (this.usuario === "")
      ) {
        // alert("You can not leave empty fields");
        this.sweetalertEmptyField();
        this.createClient = false;
      } else {
        this.errorMsg = false;
        this.createClient = true;
        this.addNewClient();
        this.sweetalertCreate();
      }
    },
    addNewClient() {
      if (this.createClient === true) {
        let self = this;
        axios
          .post("http://localhost:3800/register", {
            nombre: self.nombre,
            usuario: self.usuario,
            email: self.email,
            password: self.password,
            foto: self.foto
          })
          .then(function(response) {
            console.log(response);
          })
          .catch(function(error) {
            console.log(error);
          });
        this.createClient = false;
        //auto-empty
        this.nombre = "";
        this.usuario = "";
        this.email = "";
        this.password = "";
        this.foto = "";
      } else {
        console.log("Missing data");
      }
    }
  }
};
</script>

<style scoped>
input {
  margin: 0.5rem;
  padding: 0.5rem;
}
button {
  margin: 0.5rem;
  border-radius: 50%;
  width: 60px;
  border: none;
  padding: 0.8rem;
  background: pink;
}
</style>